@model Quero2pay.Models.Funcionario
<div class="container-fluid header-page-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Cadastro</h1>
                <p>Lista de funcionários cadastrados</p>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-md-12 mg-botton">
                <a href='javascript:history.go(-1)' class="btn btn-link btn-tabela"><span class="glyphicon glyphicon-menu-left"></span> Voltar</a>
            </div>
            <div class="col-md-12">
                <form>
                    <div class="form-group row">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.idEmpresa, "Empresa", htmlAttributes: new { @class = "control-label" })

                            @Html.DropDownList("idEmpresa", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idEmpresa, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.idCargo, "Cargo", htmlAttributes: new { @class = "control-label" })

                            @Html.DropDownList("idCargo", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idCargo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Adicionar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
