@model IEnumerable<Quero2pay.Models.Funcionario>
<div class="container-fluid header-page-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Cadastro</h1>
                <p>Lista de funcionarios cadastrados</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href='@Url.Action("Create")' class="btn btn-primary pull-right btn-tabela"><span class="glyphicon glyphicon-plus"></span> Adicionar Funcionário</a>

            <table class="table table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cargo.nmCargo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cargo.salario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Empresa.nmEmpresa)
                    </th>
                    <th class="col-md-3">
                        <strong>Editar / Remover</strong>
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", new { id=item.idFuncionario})">@Html.DisplayFor(modelItem => item.nome)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cargo.nmCargo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cargo.salario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa.nmEmpresa)
                    </td>

                    <td>
                        <button type="button" class="btn btn-link">
                            <span class="glyphicon glyphicon-edit"></span>
                            @Html.ActionLink("Editar", "Edit", new { id = item.idFuncionario })
                        </button>

                        <button type="button" class="btn btn-link">
                            <span class="glyphicon glyphicon-remove"></span>
                            @Html.ActionLink("Remover", "Delete", new { id = item.idFuncionario })
                        </button>
                    </td>
                </tr>
                }

            </table>

        </div>
    </div>
</div>
        